<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> regis : profile </title>
</head>
<body>
    
    <h1> WELCOME BACK <span id = "username"> insert_title_here </span></h1>

</body>
</html>

<script>

var x = new XMLHttpRequest(); //sneaky boys would love to use this to check for directories, in my mind at least

x.open("POST","/getfirstname",true); //define the request
x.send(""); //send this request


</script>
