<!DOCTYPE html><html>

<head>
    <title> regis : confirm </title>
    <meta content="">
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'stylesheets/loginstyle.css') }}">
    <meta name = "viewport" content="width=device-width, initial-scale=1, user-scalable = 0"> <!--still don't get this as much as I'd like... -->
</head>

<body>

    <div class = "account_creation_panel">

        <h1> ACCOUNT HAS BEEN SUCCESSFULLY CREATED </h1>
        <h1> Welcome to Pamela!</h1>

        <a href = "/login" target="_self"> LOGIN </a> 

    </div>

</body></html>
<style>
    
    div{
        display:grid;
        place-content: center;
        text-align: center;
    }

</style>